node_modules
npm-debug.log
dist
.env
.env.local
.git
.gitignore
README.md
.vscode
coverage
.DS_Store
*.log
.DS_Store
*.swp
*.swo
*~
.idea
*.iml
test
*.spec.ts
*.test.ts
tsconfig.build.json
.eslintrc.js
.eslintrc.json
eslint.config.mjs
.prettierrc
.prettierignore

