body, html {
  margin: 0;
  font-family: sans-serif;
  background: #f4f4f4;
  text-align: center;
}

.header {
  background: white;
  padding: 10px 20px 20px  20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  display: block;
  width: 250px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .logo {
    width: 250px;
  }
}

.stars {
  font-size: 60px;
  margin: 30px 0;
  color: gray;
}

.star {
  cursor: pointer;
  padding: 5px;
}

.star.filled {
  color: gold;
}

.star.done {
  font-size: 60px;
  cursor: default;
  padding: 5px;
}

.star.filled.done{
  font-size: 60px;
  cursor: default;
  color: gold;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}


/* Feed back form */
.feedback-form {
  background: #fff;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.feedback-form:hover {
  box-shadow: 0 10px 28px rgba(0, 0, 0, 0.15);
}

.feedback-form h2 {
  margin-bottom: 5px;
  color: #333;
}

.subtitle {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 0px;
}

.rating-display {
  margin-bottom: 15px;
  font-size: 28px;
}

.star {
  color: #ccc;
}

.star.filled {
  color: gold;
}
.feedback-form.sent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  gap: 12px;
}

.sent-check {
  width: 72px;
  height: 72px;
  background: #ecfdf5;
  border-radius: 50%;
  padding: 3px 13px 3px 3px;
  box-shadow: 0 4px 12px rgba(16,185,129,0.12);
}

.feedback-form.sent h2 {
  margin: 0;
  font-size: 1.1rem;
}

.textarea-name {
  height: 36px ;
  width: 100% ;
  padding: 8px !important;
  margin-bottom: 10px;
  font-size: 0.95rem;
  line-height: 1.2;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}
textarea {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  min-height: 80px;
  max-height: 60vh;
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.95rem;
  resize: none;
  overflow: hidden;
  transition: border 0.2s ease;
}

textarea:focus {
  border-color: #4285f4;
  outline: none;
}

button {
  background: #4285f4;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.2s ease;
}

button:hover {
  background: #3367d6;
}

@media (max-width: 600px) {
  .feedback-form {
    padding: 20px;
  }
  textarea {
    font-size: 0.9rem;
  }
}